@using BusinessEntities
@model Recipe
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row content" style="margin-top: 50px;">
    <a class="col-xs-6" href="/home/recipes">
        <div class="content" style=" color:black; padding: 30px; background: url(http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2015/07/27/lagers.jpg);   margin-top:50px; text-align:center ">
            <div class="col-xs-12">
                <h1>Search For Recipes</h1>

            </div>
        </div>
    </a>
    <a class="col-xs-6" href="/recipe/create">
        <div class="content" style="color:black;  padding: 30px; background:url(http://thekegtap.com/wp-content/uploads/2015/07/Recipe.jpg);   margin-top:50px; text-align:center ">
            <div class="col-xs-12">
                <h1>Create Recipe</h1>

            </div>
        </div>
    </a>
</div>


<div class="container" style=" background-color: rgba(34,34,34,0.9); margin-top: 50px; padding: 50px;">
    <div class="content">
        <div class="row">
            <h1 style="text-align:center">@Model.Title</h1>
            <hr />
            <br />
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <img style="width:100%" src="http://www.pinckneypubandgrill.com/wp-content/uploads/2013/02/Beer-Slide-Background.jpg" />
                <h1 style="text-align:center">Ingredents</h1>
                <hr />
                <ul>
                    @if (Model.ListOfIngredients != null)
                    {
                        foreach (string item in Model.ListOfIngredients)
                        {
                            <li><h3>@item</h3></li>
                        }
                    }
                  
                </ul>
            </div>
            <div class="col-xs-12 col-md-6">
                <h4>@Model.RecipeDescription</h4>
            </div>
        </div>
    </div>
</div>
