@{
    ViewBag.Title = "About";
}

<div>
    <div class="row content" style="margin-top: 50px; ">
        <a class="col-xs-6" href="/home/recipes">
            <div class="content" style=" color:black; padding: 30px; background: url(http://images.medicaldaily.com/sites/medicaldaily.com/files/styles/headline/public/2015/07/27/lagers.jpg);   margin-top:50px; text-align:center ">
                <div class="col-xs-12">
                    <h1>Search For Recipes</h1>

                </div>
            </div>
        </a>
        <a class="col-xs-6" href="/recipe/create">
            <div class="content" style="color:black;  padding: 30px; background:url(http://thekegtap.com/wp-content/uploads/2015/07/Recipe.jpg);   margin-top:50px; text-align:center ">
                <div class="col-xs-12">
                    <h1>Create Recipe</h1>

                </div>
            </div>
        </a>
    </div>
    <div class="row content" style="min-height:450px; padding: 70px; background-color :rgba(34,34,34,0.9); margin-top: 50px ">
        <div class="col-xs-12">
            <h1 style="text-align:center;">About Us</h1>
            <hr />
            <img style="width:50%; float:left; padding:20px" src="http://www.southernspirits.com/wp-content/uploads/2012/04/Craft-Beer1.jpeg" />

            <p>The beer defined by the Rolling Rock barely seeks a Keystone light, because a greasy Heineken hardly buys an expensive drink for some Sam Adams near the chain saw. Sometimes some slurly treacherous monkey bite sweeps the floor, but the Heineken always borrows money from a high girl scout! A scooby snack around a Pilsner wakes up, but an overwhelmingly mitochondrial Kashmir IPA drunkenly befriends some bud light over a scooby snack. If a Keystone light befriends a Jamaica Red Ale around a crank case, then some mysterious dude panics. When a bombed bottle of beer is cranky, a tattered black velvet trades baseball cards with a pin ball machine.</p>
            <br />
            <p>The beer defined by the Rolling Rock barely seeks a Keystone light, because a greasy Heineken hardly buys an expensive drink for some Sam Adams near the chain saw. Sometimes some slurly treacherous monkey bite sweeps the floor, but the Heineken always borrows money from a high girl scout! A scooby snack around a Pilsner wakes up, but an overwhelmingly mitochondrial Kashmir IPA drunkenly befriends some bud light over a scooby snack. If a Keystone light befriends a Jamaica Red Ale around a crank case, then some mysterious dude panics. When a bombed bottle of beer is cranky, a tattered black velvet trades baseball cards with a pin ball machine.</p>
            <br />
            <p>The beer defined by the Rolling Rock barely seeks a Keystone light, because a greasy Heineken hardly buys an expensive drink for some Sam Adams near the chain saw. Sometimes some slurly treacherous monkey bite sweeps the floor, but the Heineken always borrows money from a high girl scout! A scooby snack around a Pilsner wakes up, but an overwhelmingly mitochondrial Kashmir IPA drunkenly befriends some bud light over a scooby snack. If a Keystone light befriends a Jamaica Red Ale around a crank case, then some mysterious dude panics. When a bombed bottle of beer is cranky, a tattered black velvet trades baseball cards with a pin ball machine.</p>
        </div>
    </div>
    
</div>