@{
    ViewBag.Title = "Home Page";


}
<div class="content overTwentyOneWrapper" >
    <div class="row" >
        <div class="col-xs-12">
            <h1>
                Are you 21 years of age or older?
            </h1>
        </div>
    </div>
    <div class="row buttonWrapper" >
        <div class="col-xs-6">
            <a href="/home/about" class="btn btn-success btn-lg">Yes</a>
        </div>
        <div class="col-xs-6">
            <a href="https://www.niaaa.nih.gov/alcohol-health/special-populations-co-occurring-disorders/underage-drinking" class="btn btn-danger btn-lg">No</a>
        </div>
    </div>
</div>

