
@{
    ViewBag.Title = "Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content recipeWrapper" ng-controller="BlogAddCtrl">
    <div class=" form-group" style="display:inline;">

        {{data}}
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search ">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
    </div>
</div>

</div>

<style>
    .recipeWrapper {
    background-color :rgba(34,34,34,0.9); 
    margin-top:150px; 
    padding:50px; 
}

</style>


<script>
    NothingButBeerApp.factory('blogaddfactory', function ($http) {
        return {
            getKey: function () {
                return "52855327-D1DC-4D";
            },
        }
    });

    angular.module('NothingButBeerApp', []).controller('BlogAddCtrl', function ($scope) {
            $scope.data = "hello";
        });


</script>