
@{
    ViewBag.Title = "Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="BlogAddCtrl">
    <div class="content recipeWrapper">
        <div class=" form-group" style="display:inline;">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search " ng-keyup="$event.keyCode == 13 && search($event)" ng-model="filter.keyword">
                <span class="input-group-addon"><span ng-click="search($event)" class="glyphicon glyphicon-search"></span></span>
            </div>
        </div>
    </div>
    
    <div ng-include="filter.url">

    </div>
    
</div>
<style>
    .recipeWrapper {
    background-color :rgba(34,34,34,0.9); 
    margin-top:150px; 
    padding:50px; 
}

</style>


<script>
    NothingButBeerApp.factory('blogaddfactory', function ($http) {
        return {
            getKey: function () {
                return "52855327-D1DC-4D";
            },
        }
    });

    angular.module('NothingButBeerApp', []).controller('BlogAddCtrl', function ($scope) {

        $scope.filter = {
            keyword: "",
            url: "/Home/RecipeSearchGrid?keyword="
        }

        $scope.search = function (e) {
            $scope.filter.url = "/Home/RecipeSearchGrid?keyword=" + $scope.filter.keyword + "&r=" + new Date().getTime();
        }


    });


</script>